<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sección Social Links</title>
</head>
<body>

<section>
	<div class="social">
		<a href="https://facebook.com/outliers" class="social-link facebook">1</a>
		<a href="https://instagram.com/outliers" class="social-link instagram">2</a>
		<a href="https://twitter.com/outliers" class="social-link twitter">3</a>
		<a href="https://youtube.com/outliers" class="social-link youtube">4</a>
	</div>
</section>

</body>
</html>