.social {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.social-link {
  border: 5px solid black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
}

.social-link.facebook {
  background-image: url("../../resources/images/facebook-icon.png");
}

.social-link.instagram {
  background-image: url("../../resources/images/instagram-icon.png");
}

.social-link.twitter {
  background-image: url("../../resources/images/twitter-icon.png");
}

.social-link.youtube {
  background-image: url("../../resources/images/youtube-icon.png");
}
